.wicket-acc-block-touchpoints-tec {
	max-width: var(--layout-content);
	margin: var(--space-100) auto;
	padding: var(--space-200);

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: var(--space-200);
	}

	.header h2 {
		font-size: var(--font-size-heading-md);
		font-weight: bold;
	}

	.header .upcoming-link {
		font-size: var(--font-size-body-md);
		font-weight: bold;
	}

	.events-list {
		display: grid;
		gap: var(--spacing-200);
	}

	.event-card {
		background-color: var(--bg-card);
		padding: var(--spacing-200);
		filter: drop-shadow(var(--elevation-4));
	}

	.event-card-link {
		text-decoration: none !important;
		font-size: var(--heading-xs-font-size);
		line-height: var(--heading-xs-line-height);
		font-weight: var(--heading-xs-font-weight-md);
	}

	.event-card p,
	.event-card h3 {
		margin-bottom: var(--space-300);
	}

	.event-type {
		font-size: var(--label-sm-font-size);
		font-weight: bold;
	}

	.event-name {
		font-size: var(--body-md-font-size);
		font-weight: bold;
		margin-bottom: var(--space-300);
		line-height: var(--body-md-line-height);
	}

	.event-section-title {
		font-size: var(--heading-sm-font-size);
	}

	.past-link {
		font-size: var(--heading-sm-font-size);
		color: var(--interactive);
		font-weight: normal;
		text-decoration: underline;
		font-size: 1rem;
    line-height: 1.5rem;

		&:hover {
			text-decoration: none;
		}
	}

	.event-details,
	.event-location {
		font-size: var(--label-sm-font-size);
	}

	.event-location strong {
		font-weight: bold;
	}

	.show-more {
		color: var(--color-dark-100);

		.arrow {
			text-decoration: none;
		}

		.text {
			text-decoration: underline;
		}

		.text:hover {
			text-decoration: underline;
		}
	}

	/* Responsive styles */
	/* @media (min-width: 640px) {
		.wicket-ac-touchpoint-tec {
			padding: var(--spacing-300);
		}

		.event-card {
			padding: var(--spacing-300);
		}

		.header h2 {
			font-size: var(--font-size-heading-lg);
		}

		.header .upcoming-link {
			font-size: var(--font-size-body-lg);
		}
	} */

	/* @media (min-width: 768px) {
		.wicket-ac-touchpoint-tec {
			padding: var(--spacing-400);
		}

		.event-card {
			padding: var(--spacing-400);
		}

		.header h2 {
			font-size: var(--font-size-heading-xl);
		}

		.header .upcoming-link {
			font-size: var(--font-size-body-lg);
		}
	} */
}
