.wp-block-wicket-ac-ac-callout {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
}

.wp-block-wicket-ac-ac-callout p {
  margin-bottom: 1.5rem;
}

.wp-block-wicket-ac-ac-callout div[data-type="core/button"] {
  display: inline-block;
}

.wp-block-wicket-ac-ac-callout .wp-block-button__link {
  margin-bottom: 0;
}

div[class*="wp-block"].callout-become_member,
div[class*="wp-block"].callout-renewal,
div[class*="wp-block"].callout-profile {
  padding: 0;
  margin-bottom: 1.5rem;
}

.callout-become_member .component-card-call-out {
  border: 1px solid #4AB2DE;
  background-color: #C9E8F5;
  border-radius: 12px;
}

.callout-become_member.callout-pending_approval .component-card-call-out {
  border: 1px solid rgba(25, 135, 84, 1);
  background-color: rgba(209, 231, 221, 1);
  border-radius: 12px;
}

.callout-renewal .component-card-call-out {
  border: 1px solid #FFC107;
  background-color: #FFECB5;
  border-radius: 12px;
}

.callout-renewal.callout-grace_period .component-card-call-out {
  border: 1px solid rgba(220, 53, 69, 1);
  background-color: rgba(245, 194, 199, 1);
  border-radius: 12px;
}

.callout-renewal.callout-early_renewal .component-card-call-out {
  border: 1px solid #FFC107;
  background-color: #FFECB5;
  border-radius: 12px;
}

.callout-renewal .component-card-call-out {
  border: 1px solid #FFC107;
  background-color: #FFECB5;
  border-radius: 12px;
}

.callout-profile .component-card-call-out {
  border: 1px solid #A1A1A1;
  background-color: #E8E8E8;
  border-radius: 12px;
}