.wicket-acc-welcome {
	display: flex;
	padding: 1rem;
	margin: 1rem;
	border: 1px solid var(--wicket-acc-border-color-light);
	border-radius: 1rem;
	font-family: var(--wicket-acc-font-family-montserrat);

	.wicket-welcome-avatar img {
		display: inline-block;
		border-radius: 100%;
		width: 100%;
		max-width: 135px !important;
		border: 3px solid white;
	}

	.wicket-welcome-label {
		font-weight: var(--wicket-acc-font-weight-bold);
		font-size: var(--wicket-acc-font-size-lg);
		margin-bottom: var(--wicket-acc-margin-sm);
	}

	.wicket-welcome-name {
		font-weight: var(--wicket-acc-font-weight-normal);
		font-size: var(--wicket-acc-font-size-xxxl);
		margin-bottom: var(--wicket-acc-margin-md);
	}

	.wicket-welcome-content {
		display: flex;
		flex-direction: column;
		margin-bottom: var(--wicket-acc-margin-sm);
	}

	.wicket-welcome-content-container {
		display: flex;
		flex-direction: inherit;
		width: 100%;
		justify-content: space-between;
		padding: 0 var(--wicket-acc-padding-md);
	}

	.wicket-welcome-member-mdp-id {
		font-size: var(--wicket-acc-font-size-14);
	}

	.wicket-welcome-member-since,
	.wicket-welcome-renewal {
		font-size: 14px;
	}

	.wicket-welcome-member-active {
		position: relative;
		padding-left: 20px;
		font-size: 14px;
	}

	.wicket-welcome-member-active::after {
		display: block;
		content: "";
		background-color: #198754;
		border-radius: 100%;
		width: 12px;
		height: 12px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	.wicket-welcome-content {
		margin-bottom: 1rem;
	}

	@media (min-width: 1024px) {
		.wicket-welcome-content {}
	}

	@media (min-width: 640px) {
		.wicket-welcome-avatar {
			display: block;
			text-align: center;
		}

		.wicket-welcome-content-container {}
	}
}
