.wicket-acc {
  .my_account_subscriptions {
    .subscription-id {
      .nobr {
        display: none !important;
      }

      &:lang(en-US)::after {
        content: 'Membership';
      }

      &:lang(fr-FR)::after {
        content: 'Abonnement';
      }

      &:lang(es-ES)::after {
        content: 'Membresia';
      }
    }
  }
}

.woocommerce-account:has(.wicket-acc-page) .woocommerce::after,
.woocommerce-account:has(.wicket-acc-page) .woocommerce::before {
  content: none !important;
}

div.woocommerce:has(.wicket-acc-page),
#main-content.woocommerce:has(.wicket-acc-page) {
  padding-top: 0;
  padding-bottom: 0;
}

.woocommerce {
  .woocommerce-info {
    .woocommerce-Button.button {
      display: none !important;
    }

    .woocommerce-Button.wc-forward.button {
      display: none !important;
    }
  }
}

/* This pages won't live inside ACC. They need a proper container separately */
.woocommerce-checkout, .woocommerce-cart, .woocommerce-order-pay {
  .woocommerce {
    max-width: var(--wicket-acc-container-width);
    margin: 0 auto;

    .woocommerce-order {
      .container {
        .max-w-5xl {
          max-width: 100% !important;
        }
      }
    }
  }
}
