.wicket-acc {
  .my_account_subscriptions {
    .subscription-id {
      .nobr {
        display: none !important;
      }

      &:lang(en-US)::after {
        content: 'Membership';
      }

      &:lang(fr-FR)::after {
        content: 'Abonnement';
      }

      &:lang(es-ES)::after {
        content: 'Membresia';
      }
    }
  }
}

.woocommerce-account:has(.wicket-acc-page) .woocommerce::after,
.woocommerce-account:has(.wicket-acc-page) .woocommerce::before {
  content: none !important;
}

div.woocommerce:has(.wicket-acc-page),
#main-content.woocommerce:has(.wicket-acc-page) {
  padding-top: 0;
  padding-bottom: 0;
}