/**
 * Wicket ACC Legacy styles.
 *Don't add anything here.
 */

.wicket-acc {
  .woocommerce {
    .container {
      justify-content: space-between;
      flex-flow: row wrap;
    }
  }
}

/* MQ: breakpoint-mobile */
@media all and (max-width: 1023px) {
  .wicket-acc {
    .woocommerce {
      .container {
        flex-flow: column wrap;
        max-width: 100%;

        .woocommerce-MyAccount-content {
          width: 100%;
          padding: 0 var(--wicket-acc-padding-md);
        }
      }
    }
  }
}

.woocommerce-wicket--container {
  width: 100%;
  max-width: var(--wp--style--global--content-size);
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

@media all and (min-width: 1020px) {
  .wicket-acc {
    .woocommerce-wicket--account-centre {
      max-width: 70%;
    }

    .myaccount-nav {
      width: 25%;
    }

    .wicket-acc-menu {
      margin-bottom: 40px !important;
    }
  }
}

.wicket-acc {
  button.wicket_acc_btn {
    margin-left: 3px;
  }

  .icon-r {
    margin-right: 8px;
  }

  .wicket_acc_pp_opt {
    display: none;
    position: relative;
    z-index: 1;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
    width: 60%;
    margin-left: 20%;
  }

  .wicket_acc_pp_opt_close {
    display: none;
    position: relative;
    z-index: 1;
    overflow: auto;
    /background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
    width: 60%;
    margin-left: 20%;
    margin-top: -20%;
  }

  .wicket_acc_profile_Pic {
    position: relative;
  }

  .wicket_acc_upload_button {
    position: absolute;
    padding: 2px;
    bottom: 1px;
    left: 1px;
  }

  .wicket_acc_remove_button {
    position: absolute;
    background-color: transparent;
    color: #6d6d6d;
    top: -5px;
    left: 1px;
    opacity: 70%;
  }

  .wicket_acc_remove_button:hover {
    opacity: 100%;
  }

  .wicket_acc_remove_button:hover,
  .wicket_acc_upload_button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }

  .wicket_acc_upload_image {
    display: none;
  }

  .wicket_acc_pp_opt_remove {
    display: none;
    /*Hidden by default */
    position: relative;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /*padding-top: 100px;  Location of the box */
    left: 0;
    top: 0;
    overflow: auto;
    /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color */
    /*background-color: rgba(0,0,0,0.4);  Black w/ opacity */
    width: 60%;
    margin-left: 33%;
    margin-top: -47px;
  }

  form.woocommerce-EditAccountForm input.wicket_acc_pp_opt_content,
  a.wicket_acc_pp_opt_content {
    border: 1px solid #888;
    margin-left: 20%;
  }

  .wicket_acc_pp_opt_close .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: 95.5%;
  }

  .wicket_acc_pp_opt_close .close:hover,
  .wicket_acc_pp_opt_close .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .wicket_acc_file_upload {
    display: none;
  }

  li ul {
    margin-left: var(--space-200, 0.8em) !important;
  }

  .woocommerce-MyAccount-navigation ul li.group_endpoint ul {
    display: none;
  }

  .myaccount-nav h2.myaccount-nav-heading {
    margin-bottom: var(--space-200, 10px);
    padding-left: var(--space-075, 0px);
    padding-right: var(--space-075, 0px);
    font-size: var(--label-md-font-size, 1.2em);
    color: var(--nav-contextual-title, inherit);
    font-weight: var(--label-md-font-weight, 400);
    text-transform: uppercase;
    line-height: var(--label-md-line-height, normal);
  }

  .myaccount-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .myaccount-nav ul li {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: var(--space-050, 5px);
    margin-bottom: var(--space-050, 5px);
    border-bottom: var(--border-sm, 1px) solid var(--border-light);
  }

  .myaccount-nav .menu-item.current-menu-item>a:first-of-type,
  .myaccount-nav ul li.nav-selected>a:first-of-type,
  .myaccount-nav .menu-item>a:first-of-type:focus,
  .myaccount-nav ul li>a:first-of-type:focus {
    border-radius: var(--interactive-corner-radius-md, initial);
    text-decoration: none !important;
    font-size: var(--body-md-font-size, 14px);
    font-weight: bold;
    line-height: var(--body-md-line-height, 24px);
    background-color: var(--highlight-light, transparent);
    color: var(--highlight-dark, inherit);
    display: block;
    font-style: normal;
    padding: var(--space-100, 10px 5px);
    text-transform: capitalize;
    box-shadow: none;
    position: relative;
  }

  .myaccount-nav ul li a,
  .myaccount-nav ul li .nav__menu-link {
    text-decoration: none !important;
    color: var(--nav-contextual-sublink, inherit);
    font-size: var(--body-md-font-size, 14px);
    font-weight: var(--body-md-font-weight, 400);
    line-height: var(--body-md-line-height, 24px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    padding: var(--space-100, 10px 5px);
    text-transform: capitalize;
    box-shadow: none;
    position: relative;
    width: 100%;
    text-align: left;
  }

  .myaccount-nav ul > li.current-menu-item > a,
  .myaccount-nav ul > li > a:focus {
    margin-bottom: var(--space-050, 0);
  }

  .myaccount-nav ul > li > .nav__menu-link,
  .myaccount-nav ul > li.nav__menu-item > a {
    color: var(--nav-contextual-link-lvl-1, inherit);
    font-weight: bold;
  }

  .myaccount-nav ul li a:hover,
  .myaccount-nav ul li a:active,
  .myaccount-nav ul li a:focus,
  .myaccount-nav ul li .nav__menu-link:hover span,
  .myaccount-nav ul li .nav__menu-link:active span,
  .myaccount-nav ul li .nav__menu-link:focus span {
    text-decoration: underline !important;
  }

  .myaccount-nav ul li a.group_endpoint_a {
    font-weight: 700 !important;
  }

  .myaccount-nav ul li ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  .myaccount-nav ul li .nav__submenu {
    display: none;
  }

  .myaccount-nav ul li ul li {
    border-bottom: 0 none;
  }

  .myaccount-nav ul li ul li a {
    padding: var(--space-100, 5px);
  }

  /* .myaccount-nav ul>li .dropdown__toggle--menu i {
  } */

  .myaccount-nav ul>li .dropdown__toggle--menu.open i {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  @media screen and (max-width: 991px) {
    .myaccount-nav ul>li .dropdown__toggle--menu i {
      font-size: 20px;
      top: 10px;
    }
  }

  .edit-link {
    margin-left: 5px;
  }

  .my-account .large-3,
  .my-account .dashboard-links {
    display: none;
  }

  .my-account .large-9,
  #content-area #left-area {
    width: 100% !important;
    max-width: 100% !important;
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    padding: 0px !important;
  }

  #main-content .container:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0px;
    background-color: transparent;
    display: none;
  }

  .cursor-auto {
    cursor: auto;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
