/**
 * Wicket ACC Grid
 * Grid styles for Wicket ACC Blocks
 *
 * based on Chota CSS
 * docs: https: //jenil.github.io/chota/#grid
 */
.container {
	/*max-width: var(--wicket-grid-maxWidth);*/
	margin: 0 auto;
	/*width: 96%;*/
	/*padding: 0 calc(var(--wicket-grid-gutter) / 2);*/
}

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-left: calc(var(--wicket-grid-gutter) / -2);
	margin-right: calc(var(--wicket-grid-gutter) / -2);
}

.row.reverse {
	flex-direction: row-reverse;
}

.col {
	flex: 1;
}

.col,
[class*=" col-"],
[class^="col-"] {
	margin: 0 calc(var(--wicket-grid-gutter) / 2) calc(var(--wicket-grid-gutter) / 2);
}

.col-1 {
	flex: 0 0 calc((100% / (12/1)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/1)) - var(--wicket-grid-gutter));
}

.col-2 {
	flex: 0 0 calc((100% / (12/2)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/2)) - var(--wicket-grid-gutter));
}

.col-3 {
	flex: 0 0 calc((100% / (12/3)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/3)) - var(--wicket-grid-gutter));
}

.col-4 {
	flex: 0 0 calc((100% / (12/4)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/4)) - var(--wicket-grid-gutter));
}

.col-5 {
	flex: 0 0 calc((100% / (12/5)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/5)) - var(--wicket-grid-gutter));
}

.col-6 {
	flex: 0 0 calc((100% / (12/6)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/6)) - var(--wicket-grid-gutter));
}

.col-7 {
	flex: 0 0 calc((100% / (12/7)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/7)) - var(--wicket-grid-gutter));
}

.col-8 {
	flex: 0 0 calc((100% / (12/8)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/8)) - var(--wicket-grid-gutter));
}

.col-9 {
	flex: 0 0 calc((100% / (12/9)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/9)) - var(--wicket-grid-gutter));
}

.col-10 {
	flex: 0 0 calc((100% / (12/10)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/10)) - var(--wicket-grid-gutter));
}

.col-11 {
	flex: 0 0 calc((100% / (12/11)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/11)) - var(--wicket-grid-gutter));
}

.col-12 {
	flex: 0 0 calc((100% / (12/12)) - var(--wicket-grid-gutter));
	max-width: calc((100% / (12/12)) - var(--wicket-grid-gutter));
}

@media screen and (max-width: 599px) {
	.container {
		width: 100%;
	}

	.col,
	[class*="col-"],
	[class^="col-"] {
		flex: 0 1 100%;
		max-width: 100%;
	}
}

@media screen and (min-width: 900px) {
	.col-1-md {
		flex: 0 0 calc((100% / (12/1)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/1)) - var(--wicket-grid-gutter));
	}

	.col-2-md {
		flex: 0 0 calc((100% / (12/2)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/2)) - var(--wicket-grid-gutter));
	}

	.col-3-md {
		flex: 0 0 calc((100% / (12/3)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/3)) - var(--wicket-grid-gutter));
	}

	.col-4-md {
		flex: 0 0 calc((100% / (12/4)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/4)) - var(--wicket-grid-gutter));
	}

	.col-5-md {
		flex: 0 0 calc((100% / (12/5)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/5)) - var(--wicket-grid-gutter));
	}

	.col-6-md {
		flex: 0 0 calc((100% / (12/6)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/6)) - var(--wicket-grid-gutter));
	}

	.col-7-md {
		flex: 0 0 calc((100% / (12/7)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/7)) - var(--wicket-grid-gutter));
	}

	.col-8-md {
		flex: 0 0 calc((100% / (12/8)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/8)) - var(--wicket-grid-gutter));
	}

	.col-9-md {
		flex: 0 0 calc((100% / (12/9)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/9)) - var(--wicket-grid-gutter));
	}

	.col-10-md {
		flex: 0 0 calc((100% / (12/10)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/10)) - var(--wicket-grid-gutter));
	}

	.col-11-md {
		flex: 0 0 calc((100% / (12/11)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/11)) - var(--wicket-grid-gutter));
	}

	.col-12-md {
		flex: 0 0 calc((100% / (12/12)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/12)) - var(--wicket-grid-gutter));
	}
}

@media screen and (min-width: 1200px) {
	.col-1-lg {
		flex: 0 0 calc((100% / (12/1)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/1)) - var(--wicket-grid-gutter));
	}

	.col-2-lg {
		flex: 0 0 calc((100% / (12/2)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/2)) - var(--wicket-grid-gutter));
	}

	.col-3-lg {
		flex: 0 0 calc((100% / (12/3)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/3)) - var(--wicket-grid-gutter));
	}

	.col-4-lg {
		flex: 0 0 calc((100% / (12/4)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/4)) - var(--wicket-grid-gutter));
	}

	.col-5-lg {
		flex: 0 0 calc((100% / (12/5)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/5)) - var(--wicket-grid-gutter));
	}

	.col-6-lg {
		flex: 0 0 calc((100% / (12/6)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/6)) - var(--wicket-grid-gutter));
	}

	.col-7-lg {
		flex: 0 0 calc((100% / (12/7)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/7)) - var(--wicket-grid-gutter));
	}

	.col-8-lg {
		flex: 0 0 calc((100% / (12/8)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/8)) - var(--wicket-grid-gutter));
	}

	.col-9-lg {
		flex: 0 0 calc((100% / (12/9)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/9)) - var(--wicket-grid-gutter));
	}

	.col-10-lg {
		flex: 0 0 calc((100% / (12/10)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/10)) - var(--wicket-grid-gutter));
	}

	.col-11-lg {
		flex: 0 0 calc((100% / (12/11)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/11)) - var(--wicket-grid-gutter));
	}

	.col-12-lg {
		flex: 0 0 calc((100% / (12/12)) - var(--wicket-grid-gutter));
		max-width: calc((100% / (12/12)) - var(--wicket-grid-gutter));
	}
}

/**
 * Utils
 */

.pull-left {
  float: left !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.is-full-screen {
  width: 100%;
  min-height: 100vh;
}

.is-full-width {
  width: 100% !important;
}

.is-full-height {
  height: 100% !important;
}

.is-vertical-align {
  display: flex;
  align-items: center;
}

.is-horizontal-align {
  display: flex;
  justify-content: center;
}

.is-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.is-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.is-fixed {
  position: fixed;
  width: 100%;
}

.is-paddingless {
  padding: 0 !important;
}

.is-marginless {
  margin: 0 !important;
}

.is-pointer {
  cursor: pointer !important;
}

.is-rounded {
  border-radius: 100%;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.is-hidden {
  display: none !important;
}

@media screen and (max-width: 599px) {
  .hide-xs {
    display: none !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .hide-sm {
    display: none !important;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .hide-lg {
    display: none !important;
  }
}

@media print {
  .hide-pr {
    display: none !important;
  }
}
