.woocommerce-wicket--container {
	width: 100%;
	max-width: var(--wp--style--global--content-size);
  margin-inline: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.woocommerce-wicket--account-centre,
.myaccount-nav {
	width: 100%;
}

@media all and (min-width: 1020px) {
	.woocommerce-wicket--account-centre {
		max-width: 70%;
	}
	.myaccount-nav {
		width: 25%;
	}
}

@media all and (min-width: 1536px) {
	.woocommerce-wicket--container {
		max-width: 1536px;
	}
}

button.wicket_acc_btn {
	margin-left: 3px;
}

.icon-r {
	margin-right: 8px;
}

/* The Popup (background) */
.wicket_acc_pp_opt {
	
	display: none;  /*Hidden by default */

	position: relative; /* Stay in place */

	z-index: 1; /* Sit on top */

	/*padding-top: 100px;  Location of the box */

	overflow: auto; /* Enable scroll if needed */

	background-color: rgb(0,0,0); /* Fallback color */

	background-color: rgba(0,0,0,0.1); /* Black w/ opacity */

	width: 60%;

	margin-left: 20%;


}

.wicket_acc_pp_opt_close {
	
	display: none;  /*Hidden by default */

	position: relative; /* Stay in place */

	z-index: 1; /* Sit on top */

	/*padding-top: 100px;  Location of the box */

	overflow: auto; /* Enable scroll if needed */

	background-color: rgb(0,0,0); /* Fallback color */

	background-color: rgba(0,0,0,0.1); /* Black w/ opacity */

	width: 60%;

	margin-left: 20%;

	margin-top: -20%;

}



.wicket_acc_profile_Pic{
	position: relative;
}

.wicket_acc_upload_button{
	position: absolute;
	padding: 2px;
	bottom: 1px;
	left: 1px;
}
.wicket_acc_remove_button{
	position: absolute;
	background-color: transparent;
	color: #6d6d6d;
	top: -5px;
	left: 1px;
	opacity: 70%;
}
.wicket_acc_remove_button:hover{
	opacity: 100%;
}
.wicket_acc_remove_button:hover,.wicket_acc_upload_button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.wicket_acc_upload_image{
	display: none;
}
.wicket_acc_pp_opt_remove {
	display: none;  /*Hidden by default */
	position: relative; /* Stay in place */
	z-index: 1; /* Sit on top */
	/*padding-top: 100px;  Location of the box */
	left: 0;
	top: 0;
	overflow: auto; /* Enable scroll if needed */
	/*background-color: rgb(0,0,0);  Fallback color */
	/*background-color: rgba(0,0,0,0.4);  Black w/ opacity */
	width: 60%;
	margin-left: 33%;
	margin-top: -47px;
}


/* Popup Content */

form.woocommerce-EditAccountForm input.wicket_acc_pp_opt_content, a.wicket_acc_pp_opt_content {
	/*background-color: #fefefe;*/
	/*padding: 20px; */
	border: 1px solid #888;
	/*width: 95%;*/
	margin-left: 20%;
}

/* The Close Button */

.wicket_acc_pp_opt_close .close {
	color: #aaaaaa;
	font-size: 28px;
	font-weight: bold;
	/*position: absolute;*/
	margin-left: 95.5%;
}

.wicket_acc_pp_opt_close .close:hover,

.wicket_acc_pp_opt_close .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.wicket_acc_file_upload {
	display: none;
}

li ul{
	margin-left: 0.8em !important;
}

.woocommerce-MyAccount-navigation ul li.group_endpoint ul{
	display: none;
}

.myaccount-nav h2.myaccount-nav-heading {
	font-size: 1.2em;
	margin: 0 0 10px;
}

.myaccount-nav ul{
	margin:0;
	padding: 0;
	list-style: none;
}

.myaccount-nav ul li{
	display:block;
	margin: 5px 0px;
	border-bottom: 1px solid #e0e0e0;
}

.myaccount-nav ul li.nav-selected > a:first-of-type{
	text-decoration: none !important;
	font-size: 14px;
	line-height: 24px;
	display: block;
	font-style: normal;
	padding: 10px 5px;
	font-weight: 600;
	text-transform: capitalize;
	box-shadow: none;
	position: relative;
}

.myaccount-nav ul li:not(.nav-selected) a{
	text-decoration: none !important;
	font-size: 14px;
	line-height: 24px;
	display: block;
	font-style: normal;
	font-weight: 400;
	padding: 10px 5px;
	text-transform: capitalize;
	box-shadow: none;
	position: relative;
}

.myaccount-nav ul li a.group_endpoint_a {
	font-weight: 700 !important;
}

.wicket_acc_sub_list{
	display: none;
	margin: -5px 0px 10px !important;
	padding: 0;
}

.nav-selected{
	background: whitesmoke;
}

.wicket_acc_sub_list li{
	display: block !important;
	margin: 0px 0px !important;
	border-bottom: none !important;
}

ul.wicket_acc_sub_list li a {
	padding: 3px 6px 3px 13px !important;
}

.woocommerce-MyAccount-content {
float: left !important;
width: calc(75% - 50px - 20px) !important;
padding: 0px 25px 0px !important;
margin: 0px 0px 0px 20px !important
}

.woocommerce{
		display: block !important;
		width:100%;
}

.edit-link {
margin-left: 5px;
}

.my-account .large-3,
.my-account .dashboard-links{
	display: none;
}

.my-account .large-9,
#content-area #left-area{
	width: 100% !important;
	max-width: 100% !important;
	-ms-flex-preferred-size: 100% !important;
	flex-basis: 100% !important;
	padding: 0px !important;
}

#main-content .container:before {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	width: 0px;
	background-color: transparent;
	display: none;
}


@media all and (max-width: 520px){
	.woocommerce-MyAccount-content,
	.myaccount-nav {
		float: none !important;
		width: 100% !important;
		padding: 10px !important;
		display: block !important;
	}
}
