.myaccount-nav {
	float: left;
	width: 25%;
}

.myaccount-nav h2.myaccount-nav-heading {
    font-size: 1.2em;
    margin: 0 0 10px;
}

.myaccount-nav ul{
	margin:0;
	padding: 0;
	list-style: none;
}

.myaccount-nav ul li{
	display:block;
	margin: 5px 0px;
	border-bottom: 1px solid #e0e0e0;
}

.myaccount-nav ul li a{}

.myaccount-nav ul li.nav-selected > a:first-of-type{
	text-decoration: none !important;
	font-size: 14px;
	line-height: 24px;
	display: block;
	font-style: normal;
	padding: 10px 5px;
	font-weight: 600;
	text-transform: capitalize;
	box-shadow: none;
	position: relative;
}

.myaccount-nav ul li:not(.nav-selected) a{
	text-decoration: none !important;
	font-size: 14px;
	line-height: 24px;
	display: block;
	font-style: normal;
	font-weight: 400;
	padding: 10px 5px;
	text-transform: capitalize;
	box-shadow: none;
	position: relative;
}

.myaccount-nav ul li a.group_endpoint_a {
    font-weight: 700 !important;
}

.wicket_acc_sub_list{
	display: none;
	margin: -5px 0px 10px !important;
	padding: 0;
}

.nav-selected{
	background: whitesmoke;
}

.wicket_acc_sub_list li{
	display: block !important;
	margin: 0px 0px !important;
	border-bottom: none !important;
}

ul.wicket_acc_sub_list li a {
    padding: 3px 6px 3px 13px !important;
}

.woocommerce-MyAccount-content {
	float: left !important;
	width: calc(75% - 50px - 20px) !important;
	padding: 0px 25px 0px !important;
	margin: 0px 0px 0px 20px !important
}

.woocommerce{
	display: block !important;
	width:100%;
}

.edit-link {
	margin-left: 5px;
}

.my-account .large-3,
.my-account .dashboard-links{
	display: none;
}

.my-account .large-9,
#content-area #left-area{
	width: 100% !important;
	max-width: 100% !important;
	-ms-flex-preferred-size: 100% !important;
	flex-basis: 100% !important;
	padding: 0px !important;
}

#main-content .container:before {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	width: 0px;
	background-color: transparent;
	display: none;
}


@media all and (max-width: 520px){
	.woocommerce-MyAccount-content,
	.myaccount-nav {
		float: none !important;
		width: 100% !important;
		padding: 10px !important;
		display: block !important;
	}
}
