.wicket-acc-welcome, .wicket-acc-block-welcome {
	--status-active-color: var(--status-active, #198754);
	--status-inactive-color: var(--status-inactive, #7B7F83);

	display: flex;
	padding: var(--space-250, 1rem);
	margin: var(--space-100) auto;
	border: 1px solid var(--bg-accent-light, var(--wicket-acc-border-color-light));
	border-radius: var(--card-accent-corner-radius, 1rem);
	font-family: var(--wicket-acc-font-family-montserrat);

	&.wicket-acc-block-welcome--v2 {
		background-color: var(--bg-accent-light);
		padding: var(--space-250);
		gap: var(--space-300);
	}

	&.wicket-acc-block-welcome--v2 .wicket-welcome-avatar {
		@media screen and (max-width: 991px) {
			display: none;
		}
	}

	.wicket-welcome-avatar img {
		display: inline-block;
		border-radius: 100%;
		width: 100%;
		max-width: 135px !important;
		border: var(--border-md, 3px) solid white;
	}

	.wicket-welcome-label {
		font-weight: var(--wicket-acc-font-weight-bold); 
		font-size: var(--wicket-acc-font-size-lg);
		margin-bottom: var(--wicket-acc-margin-sm);
	}

	&.wicket-acc-block-welcome--v2 .wicket-welcome-label {
		font-weight: var(--heading-xs-font-weight-sm);
		font-size: var(--heading-xs-font-size);
		line-height: var(--heading-xs-line-height);
    font-family: var(--heading-xs-font-family);
		margin-bottom: var(--wicket-acc-margin-sm);
	}

	.wicket-welcome-name {
		font-weight: var(--wicket-acc-font-weight-normal);
		font-size: var(--wicket-acc-font-size-xxxl, var(--wp--preset--font-size--heading-lg));
	}

	&.wicket-acc-block-welcome--v2 .wicket-welcome-name {
		font-weight: var(--heading-lg-font-weight-sm);
		font-size: var(--heading-lg-font-size);
		line-height: var(--heading-lg-line-height);
    font-family: var(--heading-lg-font-family);
		margin-bottom: 0.5rem;
	}

	&.wicket-acc-block-welcome--v2 .wicket-welcome-member-org {
		line-height: var(--body-md-line-height);
		font-family: var(--body-md-font-family);
	}

	&.wicket-acc-block-welcome--v2 .wicket-welcome-member-type {
		font-weight: var(--body-md-font-weight);
    line-height: var(--body-md-line-height);
		font-size: var(--body-md-font-size);
    font-family: var(--body-md-font-family);
	}

	.wicket-welcome-content {
		display: flex;
		flex-direction: column;
	}

	.wicket-welcome-content-container {
		display: flex;
		flex-direction: inherit;
		/*width: 100%;
		justify-content: space-between;
		padding: 0 var(--wicket-acc-padding-16);*/
	}

	&.wicket-acc-block-welcome--v2 .wicket-welcome-content-container {
		padding: 0;

		@media screen and (max-width: 1200px) {
			gap: var(--space-300);
			flex-direction: column;
		}
	}

	.wicket-welcome-member-mdp-id {
		font-size: var(--wicket-acc-font-size-14);
	}

	&:not(.wicket-acc-block-welcome--v2) .wicket-welcome-edit-profile-button {
		a {
			display: block;
			font-size: var(--wicket-acc-font-size-md);
			border-radius: var(--wicket-acc-border-radius-8);
		}
	}

	&.wicket-acc-block-welcome--v2 .wicket-welcome-edit-profile-button {
    text-align: right;
    min-width: 260px;

    @media screen and (max-width: 767px) {
      text-align: left;
    }
	}

	.wicket-welcome-member-since,
	.wicket-welcome-renewal {
		font-size: var(--body-sm-font-size, 14px);
	}

	.wicket-welcome-member-active {
		position: relative;
		padding-left: 20px;
		font-size: 14px;
		margin-bottom: var(--wicket-acc-margin-md) !important;
	}

	&.wicket-acc-block-welcome--v2 .wicket-welcome-member-mdp-id,
	&.wicket-acc-block-welcome--v2 .wicket-welcome-member-active,
	&.wicket-acc-block-welcome--v2 .wicket-welcome-renewal,
	&.wicket-acc-block-welcome--v2 .wicket-welcome-member-since
	{
		font-size: var(--body-sm-font-size);
    font-weight: var(--body-sm-font-weight);
    line-height: var(--body-sm-line-height);
    font-family: var(--body-sm-font-family);
	}

	.wicket-welcome-member-active::after {
		display: block;
		content: "";
		background-color: var(--status-active-color);
		border-radius: 100%;
		border-width: var(--border-sm, 1px);
		border-color: white;
		width: 12px;
		height: 12px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}
