/* Theme v2 styles */
.wicket-acc-block-touchpoints-vitalsource {
  max-width: var(--layout-content);
  margin: var(--space-100) auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-200);
  }

  .header h2 {
    font-size: var(--font-size-heading-sm);
    font-weight: bold;
    line-height: 1.2;
  }

  .description {
    font-size: var(--font-size-body-md);
    color: var(--text-content);
    margin-bottom: var(--space-200);
  }

  .header .upcoming-link {
    font-size: var(--font-size-body-md);
  }

  .vitalsource-card {
    display: block;
    background-color: var(--bg-card);
    padding: var(--space-200);
    filter: drop-shadow(var(--elevation-4));
    border-radius: var(--card-corner-radius);
    margin-bottom: var(--space-200);
    color: var(--text-content);
    text-decoration: none;
  }

  .vitalsource-card__title {
    font-size: var(--font-size-heading-xs);
    font-weight: bold;
    text-decoration: none;
    color: var(--text-content);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
